<title>About Unofficial Trakehner DB</title>

<%= render 'shared/website_title' %><br/>

<div id='about_content' class='center'>

  <div id="about_header">
    <h2><%= t 'static_pages.about' %></h2><br>
    <h3>Welcome to my site.</h3>
  </div>

  <br>

  <div id="about_body">
    <p>In 2013, I was a trakehner horse breeder from Washington state in
    the Pacific NorthWestern United States.  I am Susan Prestage, formerly of
    Tabarah Ranch Trakehners.  I intend this site to be a useful tool
    for the Trakehner community for researching Trakehner bloodlines.  My hope
    is that this can be be a helpful contribution to the community.  I in no
    way wish to trod on any toes or be disrespectful in any way.  If my
    site or content troubles you or perhaps you would like to contribute
    additional data or recommendations, I eagerly solicit your views and
    contributions.</p><br>

    <p>I was inspired to create this site shortly after an ATA inspection
    I attended in Washington state in 2011.  I was looking to improve a slight
    weakness in the croup in my mare line and found that I had a hard
    time researching the stallions and bloodlines to my satisfaction.  Being
    a web developer in addition to a Trakehner horse breeder, this website was a
    natural result of this struggle.  I hope using this site gives you as much
    pleasure as it does me.  Thank you for visiting.<p><br><br>
  </div>

  <div id="about_signature">
    <p>I invite you to visit me at my professional portfolio website as
      well as the memorial to my old home Trakehner website.</p>
    <a href="http://www.SusanPrestage.com" target="_blank">
  Susan Prestage</a><br>
    <br><a href="http://tabarahranchtrakehners.com" target="_blank">Tabarah Ranch Trakehners</a>
    <br>Washington, USA</p>
    <br>
    <%= image_tag( "susan.jpg", size: "230x230", alt: "Susan" ) %>
  </div>

</div>
